<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>HTML</key>
		<string>html.html</string>
	</dict>
	<dict>
		<key>Text</key>
		<string>text.txt</string>
	</dict>
	<dict>
		<key>PDF</key>
		<string>f1040.pdf</string>
	</dict>
</array>
</plist>
